body{
    background-image: url(https://media.istockphoto.com/videos/cg-animation-of-powder-explosion-with-alpha-matte-video-id670961008);
}

.white{
    height: 210px;
    width: 210px;
    
}

.gray{
    height: 210px;
    width: 210px;
    
}

.black{
    height: 210px;
    width: 210px;
}

.white1{
    margin-bottom: 15px;
}

.black1{
    margin-bottom: 15px;
}

.gray1{
    margin-bottom: 15px;
}

#container{
    margin-top: 24px;
}

.vid{
    width: 100%;

}

video{
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}

.card{
    opacity: 100;

}

.card-body{
    background-color: none;

}

.form-group{
    padding-left: 40px;
    padding-right: 950px;
}

{
    padding-left: 70px;
}